{"swagger": "2.0", "info": {"title": "PK-DB REST API", "description": "\n  PK-DB provides web services based on REST to search, filter, retrieve and download data. \n\n  The data in PK-DB is structured based on **studies**, with a single study corresponding to a single source of information. In most cases such a study corresponds to a single publication or a single clinical trial. \n\n  A study in PK-DB reports pharmacokinetics information for the subjects under investigation in the study. These subjects are characterised by properties such as their *sex*, *age*, *body weight*, *ethnicity* or *health status*. Depending on the reported information, subject information is stored for **groups** and/or **individuals**. \n\n  A second class of information are the **interventions** which were performed on the subjects. Most of the interventions in pharmacokinetics studies is application of a certain dose of a substance (e.g. 1 mg paracetamol orally as tablet). In addition interventions can also consist of other things changed between the studied subjects or groups, such as food which was applied. \n\n  Finally, pharmacokinetics measurements are performed on the subject. These are often *concentration* measurements in certain tissue of the subject. These can either be single measurements (**outputs**) or time profiles (**time courses**). Additionally, derived pharmacokinetics parameters such as *AUC*, *clearance*, or *half-lives* are commonly reported. Correlations between theses outputs are often shown in form of **scatter** plots.\n\nMeta-information is encoded in the form of an **info nodes** which for a given field encodes meta-data such as description, synonyms, annotations and database cross-references.\n\n  The REST API provides endpoints for\n  * overview of PK-DB statistics (`statistics`)  \n  * searching and filtering of data (`filter`)\n  * accessing study information (`studies`)\n  * accessing groups (`groups`) and individuals (`individuals`)\n  * accessing interventions (`interventions`)\n  * accessing outputs (`outputs`) and subsets (`subsets`) \n  * accessing info_nodes information (`info_nodes`)\n\n  Data can be downloaded using the filter and search endpoint.\n\n  Python examples demonstrating the use of the API are available at \n  https://github.com/matthiaskoenig/pkdb/blob/develop/docs/pkdb_api.ipynb\n\n  If you are interested in contributing to the database please contact Matthias König.\n", "termsOfService": "https://github.com/matthiaskoenig/pkdb/blob/develop/TERMS_OF_USE.md", "contact": {"name": "Matthias König", "email": "koenigmx@hu-berlin.de"}, "license": {"name": "GNU Lesser General Public License v3 (LGPLv3)"}, "version": "v1"}, "host": "pk-db.com", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/filter/": {"get": {"operationId": "filter_list", "summary": "Endpoint to filter and query data.", "description": "The filter endpoint is the main endpoint for complex queries, such as searches and filtering. A filter query returns\na unique id corresponding to the query, which allows to access the complete set of tables\n(studies, groups, individuals and interventions, outputs, timecourses, and scatters) for the search.\nIn addition an overview of the counts in the tables is provided.\n```\n{\n  \"uuid\": \"6a15733e-0659-4224-985a-9c71120911d5\",\n  \"studies\": 430,\n  \"groups\": 887,\n  \"individuals\": 5748,\n  \"interventions\": 1291,\n  \"outputs\": 70636,\n  \"timecourses\": 2946,\n  \"scatters\": 37\n}\n```\nTwo main parameters control the output of the filter query:\n* `download`: which allows to download the results as zip archive\n* `concise`: switching between concise and non-concise data\n\nThe filter endpoint provides the option of filtering on any of the tables mentioned\nearly. Arguments can be provided with the prefixes `['studies__' , 'groups__', 'individuals__', 'interventions__',\n'outputs__', 'subsets__']` for the respective tables.", "parameters": [{"name": "concise", "in": "query", "description": "The concise parameter to reduce the set to the most concise amount of instances in each table or to return studies which meet the filtered criteria and all the content (related set tables) of the studies. E.g. Filtering for “thalf -- elimination half life” with “concise:true” will return all studies containing “thalf” outputs, all interventions which have been applied before measuring thalf, and all groups and individuals for which half has been measured. Filtering for “thalf -- elimination half life” with “concise:false” will return all studies containing “thalf” outputs, all interventions which have been applied in these studies, and all groups and individuals in these studies.", "type": "boolean", "default": true}, {"name": "download", "in": "query", "description": "The download parameter allows to download the results of the filter query. If set to True, a zip archive is returned containing '.csv' files for all tables.", "type": "boolean", "default": false}, {"name": "studies__sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__reference_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__creator", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__curators", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__collaborator", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__licence", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__access", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "studies__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}, {"name": "individuals__pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "individuals__id", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__group_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__study", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__choice_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individuals__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}, {"name": "groups__id", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "groups__parent", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__study", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__choice_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "groups__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}, {"name": "interventions__pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "interventions__normed", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__choice", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__time_unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__time", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__value", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__mean", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__median", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__min", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__max", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__se", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__sd", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__cv", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__form", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__route", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__application", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__measurement_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__substance_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__form_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__route_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__application_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}, {"name": "outputs__study_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__study_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__group_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__individual_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__interventions_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__tissue", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__time", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__choice", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__normed", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__calculated", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__output_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__substance_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__measurement_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__method_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__tissue_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "outputs__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}, {"name": "subsets__name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "subsets__data_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "subsets__uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "Returns a 'uuid' and the number of entries for each table. This 'uuid' can be used as an argument in the endpoints of the tables (studies, groups, individuals, interventions, outputs, subsets). For subsets endpoint the 'data_type'['timecourse', 'scatter'] has to be provided.", "schema": {"required": ["uuid", "studies", "groups", "individuals", "outputs", "timecourses", "scatters"], "type": "object", "properties": {"uuid": {"title": "Uuid", "description": "The resulting queries can be accessed by adding this uuid as an argument to the endpoints: /studies/, /groups/, /individuals/, /outputs/, /timecourses/, /subsets/.", "type": "string", "format": "uuid"}, "studies": {"title": "Studies", "description": "Number of resulting studies.", "type": "integer"}, "groups": {"title": "Groups", "description": "Number of resulting groups.", "type": "integer"}, "individuals": {"title": "Individuals", "description": "Number of resulting individuals.", "type": "integer"}, "outputs": {"title": "Outputs", "description": "Number of resulting outputs.", "type": "integer"}, "timecourses": {"title": "Timecourses", "description": "Number of resulting timecourses.", "type": "integer"}, "scatters": {"title": "Scatters", "description": "Number of resulting scatters.", "type": "integer"}}}}}, "tags": ["filter"]}, "parameters": []}, "/groups/": {"get": {"operationId": "groups_list", "summary": "Endpoint to query groups", "description": "The groups endpoint gives access to the groups data. A group is a collection of individuals for which data was\nreported collectively.", "parameters": [{"name": "id", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "parent", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "study", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "choice_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in characteristica_all_normed.measurement_type.label, characteristica_all_normed.choice.label, characteristica_all_normed.substance.label, name, study.name, study.sid.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "parent": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}, "readOnly": true}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "characteristica": {"title": "Characteristica", "type": "string", "readOnly": true}}}}}}}}}}, "tags": ["groups"]}, "parameters": []}, "/groups/{id}/": {"get": {"operationId": "groups_read", "summary": "Endpoint to query groups", "description": "The groups endpoint gives access to the groups data. A group is a collection of individuals for which data was\nreported collectively.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "parent": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}, "readOnly": true}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "characteristica": {"title": "Characteristica", "type": "string", "readOnly": true}}}}}, "tags": ["groups"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/individuals/": {"get": {"operationId": "individuals_list", "summary": "Endpoint to query individuals", "description": "The individual endpoint gives access to the individual subjects data.", "parameters": [{"name": "pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "id", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "group_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "study", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "choice_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in characteristica_all_normed.measurement_type.label, characteristica_all_normed.choice.label, characteristica_all_normed.substance.label, name, study.name, study.sid, group.name.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "group": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}, "readOnly": true}, "characteristica": {"title": "Characteristica", "type": "string", "readOnly": true}}}}}}}}}}, "tags": ["individuals"]}, "parameters": []}, "/individuals/{id}/": {"get": {"operationId": "individuals_read", "summary": "Endpoint to query individuals", "description": "The individual endpoint gives access to the individual subjects data.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "group": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}, "readOnly": true}, "characteristica": {"title": "Characteristica", "type": "string", "readOnly": true}}}}}, "tags": ["individuals"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/info_nodes/": {"get": {"operationId": "info_nodes_list", "description": "", "parameters": [{"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ntype", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "dtype", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "Search in sid, name, description, url_slug, dtype, ntype, units, annotations.name, annotations.description, annotations.label, annotations.url, xrefs.name, xrefs.accession, xrefs.url, measurement_type.choices.name, measurement_type.choices.description, measurement_type.choices.annotations.name, measurement_type.choices.annotations.description, measurement_type.choices.annotations.label, synonyms.name, substance.mass, substance.formula, substance.charge.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in sid, name, description, url_slug, dtype, ntype, units, annotations.name, annotations.description, annotations.label, annotations.url, xrefs.name, xrefs.accession, xrefs.url, measurement_type.choices.name, measurement_type.choices.description, measurement_type.choices.annotations.name, measurement_type.choices.annotations.description, measurement_type.choices.annotations.label, synonyms.name, substance.mass, substance.formula, substance.charge.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["sid", "name", "label", "deprecated", "ntype", "dtype", "parents", "annotations", "xrefs"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "label": {"title": "Label", "type": "string", "maxLength": 200, "minLength": 1}, "deprecated": {"title": "Deprecated", "type": "boolean"}, "ntype": {"title": "Ntype", "type": "string", "enum": ["substance", "measurement_type", "route", "form", "application", "tissue", "method", "calculation_type", "choice", "info_node"]}, "dtype": {"title": "Dtype", "type": "string", "enum": ["abstract", "boolean", "undefined", "numeric", "categorical", "numeric_categorical"]}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "synonyms": {"title": "Synonyms", "type": "string", "readOnly": true}, "parents": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "x-nullable": true}, "annotations": {"type": "array", "items": {"required": ["label", "relation", "term", "description", "url"], "type": "object", "properties": {"label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}, "relation": {"title": "Relation", "type": "string", "maxLength": 200, "minLength": 1}, "term": {"title": "Term", "type": "string", "maxLength": 200, "minLength": 1}, "collection": {"title": "Collection", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "description": {"title": "Description", "type": "string", "minLength": 1, "x-nullable": true}, "url": {"title": "Url", "type": "string", "format": "uri", "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "xrefs": {"type": "array", "items": {"required": ["name", "accession", "url"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "minLength": 1}, "accession": {"title": "Accession", "type": "string", "minLength": 1}, "url": {"title": "Url", "type": "string", "format": "uri", "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "measurement_type": {"type": "object", "properties": {"units": {"type": "array", "items": {"required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "choices": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}}, "x-nullable": true}, "substance": {"type": "object", "properties": {"mass": {"title": "Mass", "type": "number", "x-nullable": true}, "charge": {"title": "Charge", "type": "number", "x-nullable": true}, "formula": {"title": "Formula", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "derived": {"title": "Derived", "type": "boolean", "readOnly": true}}, "x-nullable": true}}}}}}}}}}, "tags": ["info_nodes"]}, "parameters": []}, "/info_nodes/{sid}/": {"get": {"operationId": "info_nodes_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["sid", "name", "label", "deprecated", "ntype", "dtype", "parents", "annotations", "xrefs"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "label": {"title": "Label", "type": "string", "maxLength": 200, "minLength": 1}, "deprecated": {"title": "Deprecated", "type": "boolean"}, "ntype": {"title": "Ntype", "type": "string", "enum": ["substance", "measurement_type", "route", "form", "application", "tissue", "method", "calculation_type", "choice", "info_node"]}, "dtype": {"title": "Dtype", "type": "string", "enum": ["abstract", "boolean", "undefined", "numeric", "categorical", "numeric_categorical"]}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "synonyms": {"title": "Synonyms", "type": "string", "readOnly": true}, "parents": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "x-nullable": true}, "annotations": {"type": "array", "items": {"required": ["label", "relation", "term", "description", "url"], "type": "object", "properties": {"label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}, "relation": {"title": "Relation", "type": "string", "maxLength": 200, "minLength": 1}, "term": {"title": "Term", "type": "string", "maxLength": 200, "minLength": 1}, "collection": {"title": "Collection", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "description": {"title": "Description", "type": "string", "minLength": 1, "x-nullable": true}, "url": {"title": "Url", "type": "string", "format": "uri", "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "xrefs": {"type": "array", "items": {"required": ["name", "accession", "url"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "minLength": 1}, "accession": {"title": "Accession", "type": "string", "minLength": 1}, "url": {"title": "Url", "type": "string", "format": "uri", "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "measurement_type": {"type": "object", "properties": {"units": {"type": "array", "items": {"required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "x-nullable": true}, "x-nullable": true}, "choices": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}}, "x-nullable": true}, "substance": {"type": "object", "properties": {"mass": {"title": "Mass", "type": "number", "x-nullable": true}, "charge": {"title": "Charge", "type": "number", "x-nullable": true}, "formula": {"title": "Formula", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "derived": {"title": "Derived", "type": "boolean", "readOnly": true}}, "x-nullable": true}}}}}, "tags": ["info_nodes"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/interventions/": {"get": {"operationId": "interventions_list", "summary": "Endpoint to query interventions.", "description": "Intervention encode what was performed on the subjects. E.g. which dose of a\nsubstance was applied.", "parameters": [{"name": "pk", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "normed", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "choice", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "time_unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "time", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "value", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "mean", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "median", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "min", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "max", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "se", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "sd", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "cv", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "form", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "route", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "application", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "substance_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "form_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "route_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "application_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in name, study.sid, study.name, measurement_type.label, substance.label, form.label, tissue.label, application.label, route.label, time_unit.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["pk", "name", "time", "value", "mean", "median", "min", "max", "sd", "se", "cv"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "integer"}, "normed": {"title": "Normed", "type": "boolean"}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "route": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "form": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "application": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "time": {"title": "Time", "type": "string", "minLength": 1, "x-nullable": true}, "time_end": {"title": "Time end", "type": "number", "x-nullable": true}, "time_unit": {"title": "Time unit", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "measurement_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true}, "calculation_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "choice": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "substance": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "value": {"title": "Value", "type": "number", "x-nullable": true}, "mean": {"title": "Mean", "type": "number", "x-nullable": true}, "median": {"title": "Median", "type": "number", "x-nullable": true}, "min": {"title": "Min", "type": "number", "x-nullable": true}, "max": {"title": "Max", "type": "number", "x-nullable": true}, "sd": {"title": "Sd", "type": "number", "x-nullable": true}, "se": {"title": "Se", "type": "number", "x-nullable": true}, "cv": {"title": "Cv", "type": "number", "x-nullable": true}, "unit": {"title": "Unit", "type": "string", "maxLength": 1000, "minLength": 1, "x-nullable": true}}}}}}}}}}, "tags": ["interventions"]}, "parameters": []}, "/interventions/{id}/": {"get": {"operationId": "interventions_read", "summary": "Endpoint to query interventions.", "description": "Intervention encode what was performed on the subjects. E.g. which dose of a\nsubstance was applied.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["pk", "name", "time", "value", "mean", "median", "min", "max", "sd", "se", "cv"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "integer"}, "normed": {"title": "Normed", "type": "boolean"}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "route": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "form": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "application": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "time": {"title": "Time", "type": "string", "minLength": 1, "x-nullable": true}, "time_end": {"title": "Time end", "type": "number", "x-nullable": true}, "time_unit": {"title": "Time unit", "type": "string", "maxLength": 200, "minLength": 1, "x-nullable": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "measurement_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true}, "calculation_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "choice": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "substance": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "readOnly": true, "x-nullable": true}, "value": {"title": "Value", "type": "number", "x-nullable": true}, "mean": {"title": "Mean", "type": "number", "x-nullable": true}, "median": {"title": "Median", "type": "number", "x-nullable": true}, "min": {"title": "Min", "type": "number", "x-nullable": true}, "max": {"title": "Max", "type": "number", "x-nullable": true}, "sd": {"title": "Sd", "type": "number", "x-nullable": true}, "se": {"title": "Se", "type": "number", "x-nullable": true}, "cv": {"title": "Cv", "type": "number", "x-nullable": true}, "unit": {"title": "Unit", "type": "string", "maxLength": 1000, "minLength": 1, "x-nullable": true}}}}}, "tags": ["interventions"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/outputs/": {"get": {"operationId": "outputs_list", "summary": "Endpoint to query outputs", "description": "The outputs endpoint gives access to the output data. Outputs generally describe what has been measured.\nThis includes more complex results which cannot be directly measured but are calculated from the measured data.\nIn the outputs related subjects and interventions are referenced.", "parameters": [{"name": "study_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "study_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "group_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "individual_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "interventions_pk", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "tissue", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "time", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "choice", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "normed", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "calculated", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "unit", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "output_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "substance_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "measurement_type_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "method_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "tissue_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in study.sid, study.name, measurement_type.label, substance.label, tissue.label, choice.label, time_unit, group.name, individual.name, interventions.name.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["tissue", "method", "study", "group", "individual", "interventions", "measurement_type", "calculation_type", "choice", "substance", "value", "mean", "median", "min", "max", "sd", "se", "cv"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "normed": {"title": "Normed", "type": "boolean", "readOnly": true}, "calculated": {"title": "Calculated", "type": "boolean", "readOnly": true}, "tissue": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "method": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "label": {"title": "Label", "type": "string", "readOnly": true, "minLength": 1}, "output_type": {"title": "Output type", "type": "string", "enum": ["array", "timecourse", "output"], "readOnly": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}, "group": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "individual": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}, "interventions": {"type": "array", "items": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}}, "measurement_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "calculation_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "choice": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "substance": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "value": {"title": "Value", "type": "number", "x-nullable": true}, "mean": {"title": "Mean", "type": "number", "x-nullable": true}, "median": {"title": "Median", "type": "number", "x-nullable": true}, "min": {"title": "Min", "type": "number", "x-nullable": true}, "max": {"title": "Max", "type": "number", "x-nullable": true}, "sd": {"title": "Sd", "type": "number", "x-nullable": true}, "se": {"title": "Se", "type": "number", "x-nullable": true}, "cv": {"title": "Cv", "type": "number", "x-nullable": true}, "unit": {"title": "Unit", "type": "string", "readOnly": true, "minLength": 1}, "time": {"title": "Time", "type": "number", "readOnly": true}, "time_unit": {"title": "Time unit", "type": "string", "readOnly": true, "minLength": 1}}}}}}}}}}, "tags": ["outputs"]}, "parameters": []}, "/outputs/{id}/": {"get": {"operationId": "outputs_read", "summary": "Endpoint to query outputs", "description": "The outputs endpoint gives access to the output data. Outputs generally describe what has been measured.\nThis includes more complex results which cannot be directly measured but are calculated from the measured data.\nIn the outputs related subjects and interventions are referenced.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["tissue", "method", "study", "group", "individual", "interventions", "measurement_type", "calculation_type", "choice", "substance", "value", "mean", "median", "min", "max", "sd", "se", "cv"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "normed": {"title": "Normed", "type": "boolean", "readOnly": true}, "calculated": {"title": "Calculated", "type": "boolean", "readOnly": true}, "tissue": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "method": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "label": {"title": "Label", "type": "string", "readOnly": true, "minLength": 1}, "output_type": {"title": "Output type", "type": "string", "enum": ["array", "timecourse", "output"], "readOnly": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}, "group": {"required": ["name", "count"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}, "count": {"title": "Count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "individual": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}, "interventions": {"type": "array", "items": {"required": ["name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}}}, "measurement_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "calculation_type": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "choice": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "substance": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}, "x-nullable": true}, "value": {"title": "Value", "type": "number", "x-nullable": true}, "mean": {"title": "Mean", "type": "number", "x-nullable": true}, "median": {"title": "Median", "type": "number", "x-nullable": true}, "min": {"title": "Min", "type": "number", "x-nullable": true}, "max": {"title": "Max", "type": "number", "x-nullable": true}, "sd": {"title": "Sd", "type": "number", "x-nullable": true}, "se": {"title": "Se", "type": "number", "x-nullable": true}, "cv": {"title": "Cv", "type": "number", "x-nullable": true}, "unit": {"title": "Unit", "type": "string", "readOnly": true, "minLength": 1}, "time": {"title": "Time", "type": "number", "readOnly": true}, "time_unit": {"title": "Time unit", "type": "string", "readOnly": true, "minLength": 1}}}}}, "tags": ["outputs"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/pkdata/timecourses/": {"get": {"operationId": "pkdata_timecourses_list", "summary": "Endpoint to query timecourses", "description": "The timecourses endpoints gives access to timecourses.", "parameters": [{"name": "study_sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "study_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in name, data_type, study.sid, study.name, array.data_points.point.outputs.group.name, array.data_points.point.outputs.individual.name, array.data_points.point.outputs.interventions.name, array.data_points.point.outputs.measurement_type.label, array.data_points.point.outputs.choice.label, array.data_points.point.outputs.substance.label, array.data_points.point.outputs.tissue.label.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["study_sid", "study_name", "subset_pk", "subset_name"], "type": "object", "properties": {"study_sid": {"title": "Study sid", "type": "string", "minLength": 1}, "study_name": {"title": "Study name", "type": "string", "minLength": 1}, "output_pk": {"title": "Output pk", "type": "string", "readOnly": true}, "subset_pk": {"title": "Subset pk", "type": "integer"}, "subset_name": {"title": "Subset name", "type": "string", "minLength": 1}, "intervention_pk": {"title": "Intervention pk", "type": "string", "readOnly": true}, "group_pk": {"title": "Group pk", "type": "string", "readOnly": true}, "individual_pk": {"title": "Individual pk", "type": "string", "readOnly": true}, "normed": {"title": "Normed", "type": "string", "readOnly": true}, "tissue": {"title": "Tissue", "type": "string", "readOnly": true}, "tissue_label": {"title": "Tissue label", "type": "string", "readOnly": true}, "method": {"title": "Method", "type": "string", "readOnly": true}, "method_label": {"title": "Method label", "type": "string", "readOnly": true}, "label": {"title": "Label", "type": "string", "readOnly": true}, "time": {"title": "Time", "type": "string", "readOnly": true}, "time_unit": {"title": "Time unit", "type": "string", "readOnly": true}, "measurement_type": {"title": "Measurement type", "type": "string", "readOnly": true}, "measurement_type_label": {"title": "Measurement type label", "type": "string", "readOnly": true}, "choice": {"title": "Choice", "type": "string", "readOnly": true}, "choice_label": {"title": "Choice label", "type": "string", "readOnly": true}, "substance": {"title": "Substance", "type": "string", "readOnly": true}, "substance_label": {"title": "Substance label", "type": "string", "readOnly": true}, "value": {"title": "Value", "type": "string", "readOnly": true}, "mean": {"title": "Mean", "type": "string", "readOnly": true}, "median": {"title": "Median", "type": "string", "readOnly": true}, "min": {"title": "Min", "type": "string", "readOnly": true}, "max": {"title": "Max", "type": "string", "readOnly": true}, "sd": {"title": "Sd", "type": "string", "readOnly": true}, "se": {"title": "Se", "type": "string", "readOnly": true}, "cv": {"title": "Cv", "type": "string", "readOnly": true}, "unit": {"title": "Unit", "type": "string", "readOnly": true}}}}}}}}}}, "tags": ["pkdata"]}, "parameters": []}, "/pkdata/timecourses/{id}/": {"get": {"operationId": "pkdata_timecourses_read", "summary": "Endpoint to query timecourses", "description": "The timecourses endpoints gives access to timecourses.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["study_sid", "study_name", "subset_pk", "subset_name"], "type": "object", "properties": {"study_sid": {"title": "Study sid", "type": "string", "minLength": 1}, "study_name": {"title": "Study name", "type": "string", "minLength": 1}, "output_pk": {"title": "Output pk", "type": "string", "readOnly": true}, "subset_pk": {"title": "Subset pk", "type": "integer"}, "subset_name": {"title": "Subset name", "type": "string", "minLength": 1}, "intervention_pk": {"title": "Intervention pk", "type": "string", "readOnly": true}, "group_pk": {"title": "Group pk", "type": "string", "readOnly": true}, "individual_pk": {"title": "Individual pk", "type": "string", "readOnly": true}, "normed": {"title": "Normed", "type": "string", "readOnly": true}, "tissue": {"title": "Tissue", "type": "string", "readOnly": true}, "tissue_label": {"title": "Tissue label", "type": "string", "readOnly": true}, "method": {"title": "Method", "type": "string", "readOnly": true}, "method_label": {"title": "Method label", "type": "string", "readOnly": true}, "label": {"title": "Label", "type": "string", "readOnly": true}, "time": {"title": "Time", "type": "string", "readOnly": true}, "time_unit": {"title": "Time unit", "type": "string", "readOnly": true}, "measurement_type": {"title": "Measurement type", "type": "string", "readOnly": true}, "measurement_type_label": {"title": "Measurement type label", "type": "string", "readOnly": true}, "choice": {"title": "Choice", "type": "string", "readOnly": true}, "choice_label": {"title": "Choice label", "type": "string", "readOnly": true}, "substance": {"title": "Substance", "type": "string", "readOnly": true}, "substance_label": {"title": "Substance label", "type": "string", "readOnly": true}, "value": {"title": "Value", "type": "string", "readOnly": true}, "mean": {"title": "Mean", "type": "string", "readOnly": true}, "median": {"title": "Median", "type": "string", "readOnly": true}, "min": {"title": "Min", "type": "string", "readOnly": true}, "max": {"title": "Max", "type": "string", "readOnly": true}, "sd": {"title": "Sd", "type": "string", "readOnly": true}, "se": {"title": "Se", "type": "string", "readOnly": true}, "cv": {"title": "Cv", "type": "string", "readOnly": true}, "unit": {"title": "Unit", "type": "string", "readOnly": true}}}}}, "tags": ["pkdata"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/statistics/": {"get": {"operationId": "statistics_list", "summary": "Endpoint to query PK-DB statistics", "description": "Get database statistics consisting of count and version information.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["statistics"]}, "parameters": []}, "/statistics/substances/": {"get": {"operationId": "statistics_substances_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["statistics"]}, "parameters": []}, "/studies/": {"get": {"operationId": "studies_list", "summary": "Endpoint to query studies", "description": "The studies endpoint gives access to the studies data. A study is a container of consistent\npharmacokinetics data. This container mostly contains data reported in a single scientific paper.", "parameters": [{"name": "sid", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reference_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "creator", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "curators", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "collaborator", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "licence", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "access", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "substance", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field from to use when ordering the results.", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in sid, pk_version, creator.first_name, creator.last_name, creator.user, curators.first_name, curators.last_name, curators.user, name, reference.pmid, reference.title, files, substances.sidsubstances.label.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["pk", "sid", "name", "licence", "access", "reference", "creator", "curators", "collaborators", "comments", "descriptions", "substances", "groupset", "individualset", "interventionset", "outputset", "dataset"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "string", "minLength": 1}, "sid": {"title": "Sid", "description": "This is the string id.", "type": "string", "minLength": 1}, "name": {"title": "Name", "description": "Name of the study. The convention is to deduce the name from the refererence with the following pattern '[Author][PublicationYear][A-Z(optional)]'.", "type": "string", "minLength": 1}, "licence": {"title": "Licence", "description": "Licence", "type": "string", "minLength": 1}, "access": {"title": "Access", "type": "string", "minLength": 1}, "date": {"title": "Date", "type": "string", "format": "date", "readOnly": true}, "group_count": {"title": "Group count", "type": "string", "readOnly": true}, "individual_count": {"title": "Individual count", "type": "string", "readOnly": true}, "intervention_count": {"title": "Intervention count", "type": "string", "readOnly": true}, "output_count": {"title": "Output count", "type": "string", "readOnly": true}, "output_calculated_count": {"title": "Output calculated count", "type": "string", "readOnly": true}, "subset_count": {"title": "Subset count", "type": "string", "readOnly": true}, "timecourse_count": {"title": "Timecourse count", "type": "string", "readOnly": true}, "scatter_count": {"title": "Scatter count", "type": "string", "readOnly": true}, "reference": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "pmid": {"title": "Pmid", "type": "string", "readOnly": true, "minLength": 1}, "sid": {"title": "Sid", "type": "string", "readOnly": true, "minLength": 1}, "name": {"title": "Name", "type": "string", "readOnly": true, "minLength": 1}, "doi": {"title": "Doi", "type": "string", "readOnly": true, "minLength": 1}, "title": {"title": "Title", "type": "string", "readOnly": true, "minLength": 1}, "abstract": {"title": "Abstract", "type": "string", "readOnly": true, "minLength": 1}, "journal": {"title": "Journal", "type": "string", "readOnly": true, "minLength": 1}, "date": {"title": "Date", "type": "string", "format": "date", "readOnly": true}, "authors": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "readOnly": true, "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "readOnly": true, "minLength": 1}}}, "readOnly": true}}}, "reference_date": {"title": "Reference date", "type": "string", "readOnly": true}, "creator": {"type": "object", "properties": {"username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "readOnly": true, "minLength": 1}, "first_name": {"title": "First name", "type": "string", "maxLength": 150}, "last_name": {"title": "Last name", "type": "string", "maxLength": 150}}}, "curators": {"type": "array", "items": {"required": ["rating", "username", "first_name", "last_name"], "type": "object", "properties": {"rating": {"title": "Rating", "type": "number"}, "username": {"title": "Username", "type": "string", "minLength": 1}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}}}}, "collaborators": {"type": "array", "items": {"type": "object", "properties": {"username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "readOnly": true, "minLength": 1}, "first_name": {"title": "First name", "type": "string", "maxLength": 150}, "last_name": {"title": "Last name", "type": "string", "maxLength": 150}}}}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}}, "files": {"title": "Files", "type": "string", "readOnly": true}, "substances": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}}}, "groupset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "groups": {"title": "Groups", "type": "string", "readOnly": true}}}, "individualset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "individuals": {"title": "Individuals", "type": "string", "readOnly": true}}}, "interventionset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "interventions": {"title": "Interventions", "type": "string", "readOnly": true}}}, "outputset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "outputs": {"title": "Outputs", "type": "string", "readOnly": true}}}, "dataset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "subsets": {"title": "Subsets", "type": "string", "readOnly": true}}}}}}}}}}}}, "tags": ["studies"]}, "parameters": []}, "/studies/{sid}/": {"get": {"operationId": "studies_read", "summary": "Endpoint to query studies", "description": "The studies endpoint gives access to the studies data. A study is a container of consistent\npharmacokinetics data. This container mostly contains data reported in a single scientific paper.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["pk", "sid", "name", "licence", "access", "reference", "creator", "curators", "collaborators", "comments", "descriptions", "substances", "groupset", "individualset", "interventionset", "outputset", "dataset"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "string", "minLength": 1}, "sid": {"title": "Sid", "description": "This is the string id.", "type": "string", "minLength": 1}, "name": {"title": "Name", "description": "Name of the study. The convention is to deduce the name from the refererence with the following pattern '[Author][PublicationYear][A-Z(optional)]'.", "type": "string", "minLength": 1}, "licence": {"title": "Licence", "description": "Licence", "type": "string", "minLength": 1}, "access": {"title": "Access", "type": "string", "minLength": 1}, "date": {"title": "Date", "type": "string", "format": "date", "readOnly": true}, "group_count": {"title": "Group count", "type": "string", "readOnly": true}, "individual_count": {"title": "Individual count", "type": "string", "readOnly": true}, "intervention_count": {"title": "Intervention count", "type": "string", "readOnly": true}, "output_count": {"title": "Output count", "type": "string", "readOnly": true}, "output_calculated_count": {"title": "Output calculated count", "type": "string", "readOnly": true}, "subset_count": {"title": "Subset count", "type": "string", "readOnly": true}, "timecourse_count": {"title": "Timecourse count", "type": "string", "readOnly": true}, "scatter_count": {"title": "Scatter count", "type": "string", "readOnly": true}, "reference": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "pmid": {"title": "Pmid", "type": "string", "readOnly": true, "minLength": 1}, "sid": {"title": "Sid", "type": "string", "readOnly": true, "minLength": 1}, "name": {"title": "Name", "type": "string", "readOnly": true, "minLength": 1}, "doi": {"title": "Doi", "type": "string", "readOnly": true, "minLength": 1}, "title": {"title": "Title", "type": "string", "readOnly": true, "minLength": 1}, "abstract": {"title": "Abstract", "type": "string", "readOnly": true, "minLength": 1}, "journal": {"title": "Journal", "type": "string", "readOnly": true, "minLength": 1}, "date": {"title": "Date", "type": "string", "format": "date", "readOnly": true}, "authors": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "readOnly": true, "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "readOnly": true, "minLength": 1}}}, "readOnly": true}}}, "reference_date": {"title": "Reference date", "type": "string", "readOnly": true}, "creator": {"type": "object", "properties": {"username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "readOnly": true, "minLength": 1}, "first_name": {"title": "First name", "type": "string", "maxLength": 150}, "last_name": {"title": "Last name", "type": "string", "maxLength": 150}}}, "curators": {"type": "array", "items": {"required": ["rating", "username", "first_name", "last_name"], "type": "object", "properties": {"rating": {"title": "Rating", "type": "number"}, "username": {"title": "Username", "type": "string", "minLength": 1}, "first_name": {"title": "First name", "type": "string", "minLength": 1}, "last_name": {"title": "Last name", "type": "string", "minLength": 1}}}}, "collaborators": {"type": "array", "items": {"type": "object", "properties": {"username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "readOnly": true, "minLength": 1}, "first_name": {"title": "First name", "type": "string", "maxLength": 150}, "last_name": {"title": "Last name", "type": "string", "maxLength": 150}}}}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}}, "files": {"title": "Files", "type": "string", "readOnly": true}, "substances": {"type": "array", "items": {"required": ["sid", "name", "label"], "type": "object", "properties": {"sid": {"title": "Sid", "type": "string", "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "minLength": 1, "x-nullable": true}, "label": {"title": "Label", "type": "string", "minLength": 1, "x-nullable": true}}}}, "groupset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "groups": {"title": "Groups", "type": "string", "readOnly": true}}}, "individualset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "individuals": {"title": "Individuals", "type": "string", "readOnly": true}}}, "interventionset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "interventions": {"title": "Interventions", "type": "string", "readOnly": true}}}, "outputset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "outputs": {"title": "Outputs", "type": "string", "readOnly": true}}}, "dataset": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "descriptions": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "x-nullable": true}}}, "readOnly": true}, "comments": {"type": "array", "items": {"type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "type": "string", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}}}, "readOnly": true}, "subsets": {"title": "Subsets", "type": "string", "readOnly": true}}}}}}}, "tags": ["studies"]}, "parameters": [{"name": "sid", "in": "path", "required": true, "type": "string"}]}, "/subsets/": {"get": {"operationId": "subsets_list", "summary": "Endpoint to query subsets (timecourses and scatters)", "description": "The subets endpoint gives access to the subset data. A Subset is a collection of outputs which can be either a\ntimecourse or scatter. A timecourse subset consists of outputs measured at different time points. A scatter subset\ncontains correlated data which commonly are displayed as scatter plots.", "parameters": [{"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "data_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search_multi_match", "in": "query", "description": "Search in name, data_type, study.sid, study.name, array.data_points.point.outputs.group.name, array.data_points.point.outputs.individual.name, array.data_points.point.outputs.interventions.name, array.data_points.point.outputs.measurement_type.label, array.data_points.point.outputs.choice.label, array.data_points.point.outputs.substance.label, array.data_points.point.outputs.tissue.label.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "uuid", "in": "query", "description": "The '/filter/' endpoint returns a UUID. Via the UUID the resulting query can be access.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["data"], "type": "object", "properties": {"current_page": {"type": "integer"}, "last_page": {"type": "integer"}, "next_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "prev_page_url": {"type": "string", "format": "uri", "x-nullable": true}, "data": {"required": ["data"], "type": "object", "properties": {"count": {"type": "integer"}, "data": {"type": "array", "items": {"required": ["pk", "name", "data_type"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "integer"}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "data_type": {"title": "Data type", "type": "string", "minLength": 1}, "array": {"title": "Array", "type": "string", "readOnly": true}}}}}}}}}}, "tags": ["subsets"]}, "parameters": []}, "/subsets/{id}/": {"get": {"operationId": "subsets_read", "summary": "Endpoint to query subsets (timecourses and scatters)", "description": "The subets endpoint gives access to the subset data. A Subset is a collection of outputs which can be either a\ntimecourse or scatter. A timecourse subset consists of outputs measured at different time points. A scatter subset\ncontains correlated data which commonly are displayed as scatter plots.", "parameters": [], "responses": {"200": {"description": "", "schema": {"required": ["pk", "name", "data_type"], "type": "object", "properties": {"pk": {"title": "Pk", "type": "integer"}, "study": {"required": ["sid", "name"], "type": "object", "properties": {"pk": {"title": "ID", "type": "integer", "readOnly": true}, "sid": {"title": "Sid", "description": "Study Identifer", "type": "string", "pattern": "^[0-9a-zA-Z]*$", "maxLength": 200, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 200, "minLength": 1}}, "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "data_type": {"title": "Data type", "type": "string", "minLength": 1}, "array": {"title": "Array", "type": "string", "readOnly": true}}}}}, "tags": ["subsets"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {}, "tags": [{"name": "filter", "description": "Filter and search queries (corresponds to search in web interface)"}, {"name": "groups", "description": "Query groups"}, {"name": "individuals", "description": "Query individual subjects"}, {"name": "info_nodes", "description": "Query info nodes"}, {"name": "outputs", "description": "Query outputs"}, {"name": "statistics", "description": "Query PK-DB statistics"}, {"name": "studies", "description": "Query studies"}, {"name": "interventions", "description": "Query interventions"}, {"name": "subsets", "description": "Query subsets (timecourses and scatters)"}]}